/* scrollbar */
html {
    --scrollbarBG: #202020;
    --thumbBG: #ff624d;
}
body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
/* /scrollbar */

body {
    font-family: Inter, sans-serif;
    overflow-x: hidden;
    background: #202020;
}

body a {
    color: #ccc;
    text-decoration: none;
}

body a:hover {
    color: #ff624d;
    text-decoration: none;
}

.front, .back {
    list-style: none;
}

.physics-container {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#front {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#content {
    position: absolute;
    left: 0;
    right: -10px;
    top: 100%;
    color: #929292;
    z-index: 2;
    overflow: auto;
    /*padding: 0;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.with-background {
    background: #202020;
    box-shadow: 5px 5px 10px #202020;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
}

.padding-box {
    height: 290px;
    pointer-events: none;
}

#content h1, #content h2 {
    color: #ff624d
}

article ul {
    margin: 0 !important;
}

.section {
    padding: 2em;
    overflow: auto;
    clear: both;
}

.articles {
    display: inline-grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 600px 600px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 3em;
}

.article-box {
    box-sizing: border-box;
}

.box-right {
    float: right;
    width: 60%;
}

.peerwell-images {
    list-style: none;
}

.peerwell-app img, .peerwell-app {
    width: 200px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.peerwell-dashboard img, .peerwell-dashboard {
    width: 500px;
    display: inline-block;
    float: left;
    margin-top: 20px;
}

.me .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.me header, .me .tldr {
    width: 800px;
    display: block;
    margin: 150px auto 0;
}

.me h1 {
    font-size: 5em;
}

.me h2 {
    font-size: 3em;
}

.me .tldr {
    margin-top: 0;
    font-size: 18px;
    color: white;
}

.me .tldr a {
    background: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.me .profiles {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 20;
}

.me .profiles li {
    float: left;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.me .profiles li:hover {
    background: white;
}

.me .profiles img {
    width: 30px;
}

.me .more {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: .8;
}

.me .more .arrow {
    width: 75px;
    opacity: .4;
}

.me .tldr a:hover {
    background: black;
    color: white;
}

.skills-bottom {
    border-top: 1px solid rgba(120,120,120,0.2) ;
    position: absolute;
    bottom: -1em;
    padding-bottom: 1.5em;
    left: 20%;
    right: 20%;
    height: 100px;
    text-align: center;
}

.skills li {
    width: 75px;
    height: 75px;
    list-style: none;
    display: inline-block;
    padding: 1em;
}

.skills li a {
    width: 75px;
    height: 75px;
    display: grid;
    place-content: center;
    float: left;
    border-radius: 5px;
    padding: 0.5em;
}

.skills li a:hover {
    background-color: rgba(255,255,255,0.9);
}

.skills li img {
    width: 100%;
}

[data-job] {
    display: none;
}

.logo {
    width: 200px;
    margin: 0 auto;
}

.mini-logo {
    padding: 7px 30px !important;
}

.managedwp-logo {
    width: 90px !important;
    padding: 7px 80px !important;
}

.code {
    background: #363636;
    display: block;
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 230px;
    z-index: 1;
    opacity: .5;
}

.code:hover {
    background: #ff624d
}

/* animation initial text */
.ml11 {
    font-weight: 700;
    font-size: 3.5em;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}
/* /animation */

.flickity-prev-next-button.next {
    right: -25px;
}

.flickity-prev-next-button.previous {
    left: -25px;
}

.scene {
    perspective: 600px;
    display: block;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.scene:hover .card {
    transform: rotateY(180deg);
}

.card ul {
    margin: 0;
    padding: 0;
}

.card .front, .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 2em 3em;
}

.card .front {
    background: white;
    color: #5c6370;
    border-radius: 20px;
}

.card .back {
    border-radius: 20px;
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.card .peerwell-back {
    background-image: url("/assets/peerwell-app.png");
}

.card .mini-back {
    background-image: url("/assets/mini-story.png");
}

.card .eten-back {
    background-image: url("/assets/eten.nl.png");
}

.card .back-managedwp {
    background-image: url("/assets/managedwphosting.nl.png");
}